/* css change font of body tag to arial */
@import url('http://fonts.cdnfonts.com/css/liberation-sans');

body{
    font-family: 'Liberation Sans', sans-serif;
    font-size: 14px; 
    color: #333;
    line-height: 21.98px;
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 35%;}

