/* css change font of body tag to arial */
@import url('http://fonts.cdnfonts.com/css/liberation-sans');

body{
    font-family: 'Liberation Sans', sans-serif;
    font-size: 14px;
    line-height: 21.98px;
    display: grid;
    grid-template-columns: 1fr 740px 1fr;
    grid-column: 1 / -1;
    margin: 20px 0;

}

